*{
  font-size: 40px;

}
h2{

  color: rgb(251, 251, 251);
}
body{
  margin-top: 70px;
  background-color: rgb(213, 220, 204);
  /* background-color:rgb(220, 229, 192); */
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
  padding: 0;
}
input, button{
  font-size: 35px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin:  0  0 20px 0px ;
  padding: 0px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}
.wrap{
  background-color: rgb(20, 83, 79);
  text-align: center;
  /* width: 1000px; */
  max-width: 1000px;
  padding: 20px;
  border: 2px solid rgb(4, 4, 42);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-radius: 5px;
}
.item1{
  background-color: rgb(235, 230, 230);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 1000px;
  
}
.itemdiv{
  max-width: 500px;
  width: 500px;
  text-align: left;
  padding: 0 10px 0 10px;
  word-wrap: break-word;
}

.btns button{
 /* background-color: rgba(97, 161, 126, 0.207); */
 background-color: rgba(213, 220, 204, 0.384);
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 3px solid black;
}
#upbtn{
  width: 110px;
  margin: 5px;
  padding: 3px;
}
button:hover{
  background-color: rgb(20, 83, 79);
  color: aliceblue;
  border: 2px solid whitesmoke;
}

/* Style for the custom checkbox (label) */
input[type="checkbox"]{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  margin: 6px 0 0 20px;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
} 
input[type="checkbox"]:checked{
  background-color: rgb(20, 83, 79);
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 12px; /* Adjust based on the size */
  top: 8px; /* Adjust based on the size */
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}



